/*@font-face{font-family:Geogrotesque-Regular;src:url(../../themes/numero10/webfonts/24EFE3_0_0.eot);src:url(../../themes/numero10/webfonts/24EFE3_0_0-.eot#iefix) format('embedded-opentype'),url(../../themes/numero10/webfonts/24EFE3_0_0.woff) format('woff'),url(../../themes/numero10/webfonts/24EFE3_0_0.ttf) format('truetype')}
@font-face{font-family:Geogrotesque-MediumIt;src:url(../../themes/numero10/webfonts/24EFE3_1_0.eot);src:url(../../themes/numero10/webfonts/24EFE3_1_0-.eot#iefix) format('embedded-opentype'),url(../../themes/numero10/webfonts/24EFE3_1_0.woff) format('woff'),url(../../themes/numero10/webfonts/24EFE3_1_0.ttf) format('truetype')}
@font-face{font-family:Geogrotesque-SemiBoldIt;src:url(../../themes/numero10/webfonts/24EFE3_2_0.eot);src:url(../../themes/numero10/webfonts/24EFE3_2_0-.eot#iefix) format('embedded-opentype'),url(../../themes/numero10/webfonts/24EFE3_2_0.woff) format('woff'),url(../../themes/numero10/webfonts/24EFE3_2_0.ttf) format('truetype')}*/
.Geogrotesque-Regular{font-weight:400;font-style:normal;font-family:Geogrotesque-Regular}
.Geogrotesque-MediumIt{font-weight:400;font-style:normal;font-family:Geogrotesque-MediumIt}
.Geogrotesque-SemiBoldIt{font-weight:400;font-style:normal;font-family:Geogrotesque-SemiBoldIt}
blockquote,body,button,dd,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,input,label,legend,li,ol,option,p,select,td,textarea,th,ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,iframe,menu,nav,section{display:block}
audio,canvas,video{display:inline-block}
html{height:100%;background:#fff;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{color:#333;vertical-align:baseline;font:100% ,Arial,Helvetica,sans-serif}
h1{margin:0 0 1em;font-size:1em}
h2{margin:1em 0 .3em;font:400 2.125em sans-serif}
h3{margin:1em 0 .5em;font-size:1.125em}
h4{margin:1em 0 .5em;font-size:1em}
h5{margin:1em 0 .5em;font-size:.875em}
h6{margin:1em 0 .3em;font-size:.75em}
h1:first-child,h2:first-child,h3:first-child{margin-top:0}
dl,ol,p,ul{margin:0 0 1em}
ul li{list-style:none}
ol li{list-style:decimal inside}
dt{font-weight:700}
dd{padding:0 0 0 2em}
hr{clear:both;display:block;margin:1em 0 1.2em;padding:0;height:1px;border:0;border-top:1px solid #333}
abbr[title]{border-bottom:1px dotted;cursor:help}
sub,sup{position:relative;vertical-align:baseline;font-size:85%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
small{font-size:.75em}
::-moz-selection{background:#ff0066;color:#FFF;text-shadow:none}
::selection{background:#ff0066;color:#FFF;text-shadow:none}
input,select,textarea{outline-color:transparent}
a{color:#fff;text-decoration:none;-webkit-transition:color .1s linear;-moz-transition:color .1s linear;-o-transition:color .1s linear;transition:color .1s linear;-ms-transition:color .1s linear; font-family: 'Microsoft YaHei',Arial;}
a:visited{color:#fff}
a:hover{color:#fa2458}
a:active,a:focus{outline:0}
table{margin:0 0 1em;width:100%;border-collapse:collapse;border-spacing:0}
caption{text-align:left}
th{padding:.5em;text-align:left}
td{padding:.5em}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
img.fl{margin:0 1em 1em 0}
img.fr{margin:0 0 1em 1em}
.nowrap{white-space:nowrap}
.fl{float:left}
.fr{float:right}
.cl{clear:both;display:block}
.cf:after,.cf:before,.w1280:after,.w1280:before,.wrap:after,.wrap:before{display:table;content:""}
.cf:after,.w1280:after,.wrap:after{clear:both}
.ie7 .cf,.ie7 .w1280,.ie7 .wrap{zoom:1}
.invisible{visibility:hidden}
.hidden{display:none;visibility:hidden}
.flow{overflow:hidden}
.close{position:absolute;top:-25px;right:0}
.artwork{background:#fff}
#primary{position:fixed;top:320px;right:0;z-index:15;margin:0;padding:0;min-width:100px;background:#ff0066;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3);list-style:none inside}
#primary h3{margin:0;letter-spacing:3px;font-weight:400}
#primary h3 a{display:block;padding:.2em .75em .25em;color:#000;background:url(../images/ico/expand.png) 87% 9px no-repeat}
#primary ul{margin:0;font:.75em Geogrotesque-MediumIt}
#primary .top{border-top:1px solid rgba(0,0,0,.6)}
#primary li{margin:0;padding:0;border-bottom:1px solid #670f24;border-bottom:1px solid rgba(0,0,0,.6);list-style:none inside}
#primary li.dot{border-bottom-style:dotted}
#primary li.blue.dot{border-bottom-style:solid}
#primary li a{display:block;padding:.25em 1.15em;color:#000;text-transform:uppercase;-webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s linear;transition:all .1s linear;-ms-transition:all .1s linear; font-family: 'Microsoft YaHei',Arial;}
#primary:hover ul{display:block}
#primary.active h3,#primary:hover h3{background:#000}
#primary.active h3 a,#primary:hover h3 a{color:#fff}
#primary.active h3 a{background:url(../images/ico/x.png) 93% 11px no-repeat}
#primary.active ul{display:block}
#primary .white.active,#primary .white:hover a{background:#fff}
#primary .orange.active,#primary .orange:hover a{background:#faa325}
#primary .yellow.active,#primary .yellow:hover a{background:#fff663}
#primary .green.active,#primary .green:hover a{background:#00dcad}
#primary .cyan.active,#primary .cyan:hover a{background:#00dcad}
#primary .blue.active,#primary .blue:hover a{background:#00b7de}
#primary .magenta.active,#primary .magenta:hover a{background:#924a90}
#primary .colorworks.active,#primary .colorworks:hover a{background:#35ddec}
#header{position:fixed;top:0;left:0;z-index:15;width:100%;height:95px;background:#000;color:#c2c2c2}
.w1280{margin:0 auto;width:1280px}
.wrap{margin:0 auto;width:950px}
.section{position:relative;overflow:hidden;padding:104px 0 0;width:100%;height:696px;color:#fff}
.contact-top{height:295px}
.contact-bot{padding-bottom:200px}
.content{position:absolute;top:104px;left:0;width:100%;height:530px;color:#fff}
.split{position:absolute;left:0;width:100%;height:348px}
.split-up{top:0}
.split-down{top:348px}
.infograph{position:relative;margin:45px 0;padding:30px 15px;height:380px;background:#000}
.fff{background:#fff;color:#000}
body.dotted{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQImWOwsrL6z8DAgI4xBCgVBAA8uxmWctM4ogAAAABJRU5ErkJggg==)}
.dark{color:#fff}
.bg-black{background-color:#000}
.orange .sticker span{background:#faa325}
.orange h2{border-color:#faa325!important;color:#faa325}
.orange ::-moz-selection{background:#faa325;color:#000;text-shadow:none}
.orange ::selection{background:#faa325;color:#000;text-shadow:none}
.yellow .sticker span{background:#fff663}
.yellow .sticker5 span{ background:url(../images/btn5.png) 0 0 no-repeat;}
.yellow .sticker5:hover span{ background:url(../images/btn5Hover.png) 0 0 no-repeat;}
.yellow h2{border-color:#fff663!important;color:#fff663}
.yellow ::-moz-selection{background:#fff663;color:#000;text-shadow:none}
.yellow ::selection{background:#fff663;color:#000;text-shadow:none}
.green .sticker span{background:#00dcad}
.green h2{border-color:#00dcad!important;color:#00dcad}
.green ::-moz-selection{background:#00dcad;color:#000;text-shadow:none}
.green ::selection{background:#00dcad;color:#000;text-shadow:none}
.cyan .sticker span{background:#00dcad}
.cyan h2{border-color:#00dcad!important;color:#00dcad}
.cyan ::-moz-selection{background:#00dcad;color:#000;text-shadow:none}
.cyan ::selection{background:#00dcad;color:#000;text-shadow:none}
.blue .sticker span{ background:url(../images/btn1.png) 0 0 no-repeat;}
.blue .sticker2 span{ background:url(../images/btn2.png) 0 0 no-repeat;}
.blue .sticker3 span{ background:url(../images/btn3.png) 0 0 no-repeat;}
.blue .sticker4 span{ background:url(../images/btn4.png) 0 0 no-repeat;}
.blue .sticker:hover span{ background:url(../images/btn1Hover.png) 0 0 no-repeat;}
.blue .sticker2:hover span{ background:url(../images/btn2Hover.png) 0 0 no-repeat;}
.blue .sticker3:hover span{ background:url(../images/btn3Hover.png) 0 0 no-repeat;}
.blue .sticker4:hover span{ background:url(../images/btn4Hover.png) 0 0 no-repeat;}
.blue h2{border-color:#00b7de!important;color:#00b7de}
.blue ::-moz-selection{background:#00b7de;color:#fff;text-shadow:none}
.blue ::selection{background:#00b7de;color:#fff;text-shadow:none}
.magenta .sticker span{background:#924a90}
.magenta h2{border-color:#924a90!important;color:#924a90}
.magenta ::-moz-selection{background:#924a90;color:#fff;text-shadow:none}
.magenta ::selection{background:#924a90;color:#fff;text-shadow:none}
.colorworks .sticker span{padding:15px 7px 0 7px!important;width:60px!important;height:60px!important;-webkit-border-radius:65px!important;border-radius:65px!important;background:#35ddec}
.colorworks h2{border-color:#35ddec!important;color:#35ddec}
.colorworks ::-moz-selection{background:#35ddec;color:#fff;text-shadow:none}
.colorworks ::selection{background:#35ddec;color:#fff;text-shadow:none}
#header{-webkit-box-shadow:0 0 12px rgba(0,0,0,.4);box-shadow:0 0 12px rgba(0,0,0,.4)}
#brand{position:relative;float:left;padding:0 0 0 200px;width:800px}
#logo{position:absolute;top:0;left:45px;float:left;margin:0;width:143px;height:291px;}
#logo a{position:absolute;top:0;left:0;display:block;overflow:hidden;width:110px;height:231px;background:url(../images/logo.png) 0 0 no-repeat;text-indent:-999em}
#title{ font-family: Arial; float:left;overflow:hidden;margin:12px 0 5px;width:300px;height:48px; line-height:16px;font-size:12px;font-style: normal; color: #FFF;}
#subtitle{ font-family: Arial;float:left;margin:5px 0 0 0;width:100%;letter-spacing:1px; font-size: 12px; color: #c5c5c5;}
#radio {
    float: right;
    display: block;
    width: 55px;
    height: 55px;
    margin: 20px 50px 0 0;
    background: url("../images/radio_on_black_header.gif") 0 0 no-repeat;
}

#radio:hover {
    background: url("../images/radio_on_black_header_mouseover.gif") 0 0 no-repeat;
}

#header.fff #radio {
    background: url("../images/radio_on_white_header.gif") 0 0 no-repeat;
}

#header.fff #radio:hover {
    background: url("../images/radio_on_white_header_mouseover.gif") 0 0 no-repeat;
}
#lang-menu{float:right;clear:right;margin:7px 15px 0 0;text-transform:uppercase;letter-spacing:1px;font:600 .8em Geogrotesque-MediumIt,'Trebuchet MS',sans-serif}
#lang-menu li{position:relative;float:left;margin:0 0 0 6px;padding:0 0 0 10px}
#lang-menu a{color:rgba(255,255,255,.65)}
#lang-menu a:hover{color:#fa2458}
#lang-menu .active a{color:rgba(255,255,255,1)}
#lang-menu li:first-child:before{content:''}
#lang-menu li:before{position:absolute;top:-1px;left:0;display:block;content:'/ '}
#header.fff{background:#fff}
.fff #title{background-position:0 -54px}
.fff #lang-menu a,.fff #subtitle{color:#000;color:rgba(0,0,0,.8)}
.fff #lang-menu .active a{color:#fa2458}
.fff #lang-menu a:hover{color:#fa2458}
.fff #radio{background-position:0 -55px}
.counter{position:absolute;top:10px;left:250px;padding:5px;background-color:#fa2458;color:#000}
.counter .current{color:#000}
.campaign-list{background:#000}
.campaign-top{margin-top:71px;padding:10px 9px 0 10px}
.campaign-bot{margin:-2px 0 0;padding:0 9px 10px 10px}
.campaign-list ul{margin:0;border-top:1px solid #333;border-left:1px solid #333;text-align:center}
.campaign-list li{position:relative;float:left;display:inline;overflow:hidden;width:185px;height:110px;border-right:1px solid #333;border-bottom:1px solid #333}
.campaign-list a{display:block;width:100%;height:100%;vertical-align:middle}
.campaign-list img{position:absolute;top:0;left:0}
.brand{opacity:1;-webkit-transition:all .4s ease-in-out .2s;-moz-transition:all .4s ease-in-out .2s;-o-transition:all .4s ease-in-out .2s;transition:all .4s ease-in-out .2s;-ms-transition:all .4s ease-in-out .2s;filter:alpha(opacity=100)}
.detail{opacity:0;-webkit-transition:all .4s ease-in;-moz-transition:all .4s ease-in;-o-transition:all .4s ease-in;transition:all .4s ease-in;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);filter:alpha(opacity=0);-ms-transform:scale(0);-ms-transition:all .4s ease-in}
.campaign-list li:hover .detail{opacity:1;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);filter:alpha(opacity=100);-ms-transform:scale(1);-ms-transition-delay:0s}
.campaign-list li:hover .brand{opacity:0;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transform:scale(0);filter:alpha(opacity=0);-ms-transition-delay:0s}
.content-slider{position:relative;margin:70px 0 45px;padding:0;background:#000}
.content-slider .viewport{overflow:hidden;width:100%;height:437px}
.content-slider>.viewport{position:relative}
.content-slider>.viewport>.cf{position:relative;left:0;width:19000px}
.campaign{position:relative;float:left;padding:10px;width:930px}
.campaign-details{float:left;padding:18px 0 16px;width:223px;height:380px;border-top:1px solid #fff;border-bottom:1px solid #fff;font-size:.8125em}
.campaign-details h3{margin:0;text-transform:uppercase;font:1.3846em Geogrotesque-SemiBoldIt}
.campaign-details h4{margin:0 0 1em;color:rgba(128,128,128,8);font:1em Geogrotesque-SemiBoldIt}
.campaign-details p{margin:0 0 2em}
.media-slider{position:relative;float:right;width:690px}
.media-slider .viewport{overflow:hidden;width:690px;height:417px}
.media-slider .viewport .cf{position:relative;left:0;width:17250px}
.media-slider li{float:left;width:690px;height:417px;text-align:center}
.nav{position:absolute;top:168px;opacity:0;-webkit-transition:all .5s ease-in-out 0s;-moz-transition:all .5s ease-in-out 0s;-o-transition:all .5s ease-in-out 0s;transition:all .5s ease-in-out 0s;filter:alpha(opacity=0);-ms-transition:all .5s ease-in-out 0s}
.nav a{display:block;overflow:hidden;width:62px;height:100px;background:url(../images/ico/arrows-big.png) 0 0 no-repeat;text-indent:-999em}
.nav.prev{left:12px}
.nav.prev a:hover{background-position:0 -100px}
.nav.next{right:12px}
.nav.next a{background-position:100% 0}
.nav.next a:hover{background-position:100% -100px}
.nav-small{position:absolute;top:177px;overflow:hidden;width:42px;height:39px;background:url(../images/ico/arrows-small.png) 0 0 no-repeat;text-indent:-999em}
.nav-small.prev{left:0}
.nav-small.prev:hover{background-position:0 -39px}
.nav-small.next{right:0;background-position:100% 0}
.nav-small.next:hover{background-position:100% -39px}
.content-slider .close,.content-slider .counter{opacity:0;-webkit-transition:all .2s ease-in-out .5s;-moz-transition:all .2s ease-in-out .5s;-o-transition:all .2s ease-in-out .5s;transition:all .2s ease-in-out .5s;-ms-transition:all .2s ease-in-out .5s;filter:alpha(opacity=0)}
.expanded,.ov{overflow:visible}
.expanded .campaign-list li,.expanded h2{opacity:.3}
.expanded .campaign-list a{cursor:default}
.expanded .nav{-webkit-transition:all .5s ease-in-out .3s;-moz-transition:all .5s ease-in-out .3s;-o-transition:all .5s ease-in-out .3s;transition:all .5s ease-in-out .3s;-ms-transition:all .5s ease-in-out .3s}
.expanded .nav.prev{left:-112px;opacity:1;filter:alpha(opacity=100)}
.expanded .nav.next{right:-112px;opacity:1;filter:alpha(opacity=100)}
.expanded .content-slider .close,.expanded .content-slider .counter{opacity:1;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;filter:alpha(opacity=100);-ms-transition-delay:0s}
.expanded .brand,.expanded .detail{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;-ms-transition:none}
.expanded .brand,.expanded .brand:hover{opacity:100!important;-webkit-transform:scale(1)!important;-moz-transform:scale(1)!important;-o-transform:scale(1)!important;transform:scale(1)!important;filter:alpha(opacity=100)!important;-ms-transform:scale(1)!important}
.expanded .detail,.expanded .detail:hover{opacity:0!important;filter:alpha(opacity=0)!important}
.latest-news{padding:0;font-size:.8em}
.news h2{font-size:2.833em}
.news h3{margin:0;text-transform:uppercase;font:400 1.25em/117% Geogrotesque-SemiBoldIt}
.feeds,.showreel .description{color:#fff;color:rgba(255,255,255,.85)}
.showreel{float:left;padding:10px;width:610px;background:#000}
.showreel p{margin:0}
.video{position:relative;margin:0 0 10px}
.play{position:absolute;top:105px;left:245px;display:block;overflow:hidden;width:121px;height:134px;background:url(../images/ico/play.png) 0 0 no-repeat;text-indent:-999em}
.play:hover{background-position:0 100%}
.newsfeed{float:right;padding:0;width:285px;background:#000}
.newsfeed h2{margin-top:0}
.rss{float:right;display:block;overflow:hidden;margin:12px 12px 0 0;width:17px;height:17px;background:url(../images/ico/rss.png) 0 0 no-repeat;text-indent:-999em}
.rss:hover{background-position:0 100%}
.ctrls{float:right;margin:9px 0 0}
.ctrls a{position:relative;display:block;overflow:hidden;width:11px;height:7px;background:url(../images/ico/ctrls.png) 0 0 no-repeat;text-indent:-999em}
.ctrls .up{margin:0 0 7px}
.ctrls .up:hover{top:-1px;background-position:100% 0}
.ctrls .down{background-position:0 100%}
.ctrls .down:hover{top:1px;background-position:100% 100%}
.sticker{position:absolute;top:312px;left:47.2%;z-index:10;visibility:visible;margin:0 auto;color:#000!important;font-weight:700;font-family:Geogrotesque-Regular;line-height:100%;opacity:1;-webkit-transition:all .8s linear;-moz-transition:all .8s linear;-o-transition:all .8s linear;transition:all .8s linear;/*-webkit-transform:rotate(-29deg) scale(1);-moz-transform:rotate(-29deg) scale(1);-o-transform:rotate(-29deg) scale(1);transform:rotate(-29deg) scale(1);-ms-transform:rotate(-29deg) scale(1);*/-ms-transition:all .8s linear}
.sticker span{display:block;padding:0;width:137px;height:137px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;-ms-transition:all .3s linear}
.sticker em{position:relative;top:-5px;left:1px;letter-spacing:5px;font:400 .625em Geogrotesque-Regular}
/*.sticker:hover span{background:#fa2458;-webkit-box-shadow:6px 6px 12px rgba(0,0,0,.6);box-shadow:6px 6px 12px rgba(0,0,0,.6)}*/
.sticker.hide{visibility:hidden;opacity:0;-webkit-transform:rotate(-360deg) scale(0);-moz-transform:rotate(-360deg) scale(0);-o-transform:rotate(-360deg) scale(0);transform:rotate(-360deg) scale(0);-ms-transform:rotate(-360deg) scale(0)}
.entry{float:left;width:300px}
.entry h2{margin:0 0 .42em;padding:.2em 0 .38em;border-top:2px solid #fff;border-bottom:2px solid #fff;font:400 1.79em/114% Geogrotesque-SemiBoldIt,'Trebuchet MS',sans-serif}
.entry p{font-size:1.0625em;line-height:124%}
.graphics{float:right;width:600px}
.circle{position:absolute;top:32px;left:140px;width:315px;height:315px;background:url(../images/bg/circle.png) 0 0 no-repeat}
.teamgraph{position:relative;width:100%;height:400px}
.teamgraph h3{position:absolute;top:167px;left:253px;margin:0;color:#fff;color:#fff;text-align:center;font:1.325em/97% Geogrotesque-SemiBoldIt}
.teamgraph h5{margin:0 0 .1em;text-transform:uppercase;font:400 1.1em/112% Geogrotesque-SemiBoldIt}
.teamgraph h6{margin:0 0 .3em;font-size:1em}
.teamgraph p{margin:0}
.area{position:absolute;-webkit-box-shadow:0 0 6px rgba(0,0,0,.4);box-shadow:0 0 6px rgba(0,0,0,.4);color:#000}
.area:hover{z-index:1;background:#000!important;opacity:1!important;cursor:pointer;filter:alpha(opacity=100)!important}
.area h4{text-align:center;text-transform:uppercase;font:400 .8525em/112% Geogrotesque-SemiBoldIt}
.member{position:absolute;font-size:.781em}
.member>div{padding:8px 10px;width:160px}
.area.blue{top:5px;left:326px;width:116px;height:116px;border:2px solid #00b7de;-webkit-border-radius:58px;border-radius:58px;background:#00b7de}
.area.blue h4{margin:36px 0 0}
.area.blue:hover h4{color:#00b7de}
.area.blue .member{top:-15px;left:-5px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg2H7vPwPD9nv/ARauBSnvZz4/AAAAAElFTkSuQmCC) 0 64px repeat-x}
.area.blue .member>div{background:#00b7de}
.area.blue:hover .member{left:116px;padding:0 0 0 72px}
.area.cyan{top:100px;left:402px;width:93px;height:93px;border:2px solid #00dcad;-webkit-border-radius:60px;border-radius:60px;background:#00dcad}
.area.cyan h4{margin:24px 0 0}
.area.cyan:hover h4{color:#00dcad}
.area.cyan .member{top:-19px;left:-45px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNguLP2PwPDnbX/ARaMBRGqqMCSAAAAAElFTkSuQmCC) 0 63px repeat-x}
.area.cyan .member>div{background:#00dcad}
.area.cyan:hover .member{left:93px;padding:0 0 0 48px}
.area.green{top:169px;left:386px;width:112px;height:112px;border:2px solid #95ca5c;-webkit-border-radius:60px;border-radius:60px;background:#95ca5c}
.area.green h4{margin:33px 0 0}
.area.green:hover h4{color:#95ca5c}
.area.green .member{top:-10px;left:22px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOYeirmP8PUUzH/ARp+BXWEnJnfAAAAAElFTkSuQmCC) 0 65px repeat-x}
.area.green .member>div{background:#95ca5c}
.area.green:hover .member{left:114px;padding:0 0 0 12px}
.area.yellow{top:280px;left:262px;width:105px;height:105px;border:2px solid #fff764;-webkit-border-radius:60px;border-radius:60px;background:#fff764}
.area.yellow h4{margin:35px 0 0}
.area.yellow:hover h4{color:#fff764}
.area.yellow .member{top:-76px;left:-15px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWP4/z3lP8P/7yn/ASIXBrOB5zZZAAAAAElFTkSuQmCC) 0 125px repeat-x}
.area.yellow .member>div{background:#fff764}
.area.yellow:hover .member{left:107px;padding:0 0 0 143px}
.area.magenta{top:7px;left:185px;width:88px;height:88px;border:2px solid #934b91;-webkit-border-radius:60px;border-radius:60px;background:#934b91}
.area.magenta h4{margin:29px 0 0}
.area.magenta:hover h4{color:#934b91}
.area.magenta .member{top:-9px;right:-35px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOY7D3xP8Nk74n/ARbMBN2/1ij5AAAAAElFTkSuQmCC) 0 52px repeat-x}
.area.magenta .member>div{background:#934b91}
.area.magenta:hover .member{right:90px;padding:0 99px 0 0}
.area.pink{top:126px;left:107px;width:78px;height:78px;border:2px solid #ff2f92;-webkit-border-radius:60px;border-radius:60px;background:#ff2f92}
.area.pink h4{margin:11px 0 0}
.area.pink:hover h4{color:#ff2f92}
.area.pink .member{top:-10px;right:-15px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWP4rz/pP8N//Un/ARsdBX8pjJBXAAAAAElFTkSuQmCC) 0 48px repeat-x}
.area.pink .member>div{background:#ff2f92}
.area.pink:hover .member{right:80px;padding:0 22px 0 0}
.area.red{top:188px;left:100px;width:116px;height:116px;border:2px solid #e51f4e;-webkit-border-radius:60px;border-radius:60px;background:#e51f4e}
.area.red h4{margin:43px 0 0}
.area.red:hover h4{color:#e51f4e}
.area.red .member{top:10px;right:19px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWN4Ku/3n+GpvN9/ABa3BKML3o85AAAAAElFTkSuQmCC) 0 47px repeat-x}
.area.red .member>div{background:#e51f4e}
.area.red:hover .member{right:118px;padding:0 12px 0 0}
.area.blue,.area.cyan,.area.green,.area.red{opacity:.9;filter:alpha(opacity=90)}
.area,.area h4{-webkit-transition:all .3s linear .1s;-moz-transition:all .3s linear .1s;-o-transition:all .3s linear .1s;transition:all .3s linear .1s;-ms-transition:all .3s linear .1s}
.member{visibility:hidden;padding:0;opacity:0;-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;transition:all .4s linear;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transform:scale(0);-ms-transition:all .4s linear}
.area:hover .member{visibility:visible;opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-ms-transform:scale(1)}
.last{margin-right:0!important}
.module{float:left;margin-right:55px;padding:10px;width:330px;min-height:190px;line-height:115%}
.module h2{margin:0 0 15px;padding:0 0 15px 0;border-bottom:1px solid #fff}
.module h2 img{display:block}
.module h4{margin:0;font-weight:400}
.fff .module a{color:#000}
.fff .module a:hover{color:#fa2458}
.adr{margin:0 0 1.3em}
.fff .module .tel{color:#000!important;cursor:default}
.dark .module .tel{color:#fff!important;cursor:default}
.copy{display:block;padding:14px 0 0;border-top:1px solid #fff;font-size:1em}
.arrow-list a:before{padding:0 5px 0 0;content:'→';font-size:22px}
.social-media{margin:0}
.social-media li{float:left;display:inline;overflow:hidden;margin:0 6px 0 0}
.social-media a{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/ico/social-media.png) 0 0 no-repeat;text-indent:-999em}
.fb a{background-position:0 0}
.twitter a{background-position:0 -20px}
.in a{background-position:0 -40px}
.insta a{background-position:0 -60px}
.xing a{background-position:0 -80px}
.pinterest a{background-position:0 -100px}
.vine a{background-position:0 -120px}
.snapchat a{background-position:0 -140px}
.dark .fb a{background-position:-20px 0}
.dark .twitter a{background-position:-20px -20px}
.dark .in a{background-position:-20px -40px}
.dark .insta a{background-position:-20px -60px}
.dark .xing a{background-position:-20px -80px}
.dark .pinterest a{background-position:-20px -100px}
.dark .vine a{background-position:-20px -120px}
.dark .snapchat a{background-position:-20px -140px}
.fb a:hover{background-position:-40px 0}
.twitter a:hover{background-position:-40px -20px}
.in a:hover{background-position:-40px -40px}
.insta a:hover{background-position:-40px -60px}
.xing a:hover{background-position:-40px -80px}
.pinterest a:hover{background-position:-40px -100px}
.vine a:hover{background-position:-40px -120px}
.snapchat a:hover{background-position:-40px -140px}
.overlay{position:fixed;top:0;left:0;z-index:1;width:100%;height:100%;background:rgba(0,0,0,.8)}
.ie7 .overlay,.ie8 .overlay{background:url(../images/bg/opacity_80.png)}
.google-map{position:relative;margin:45px 0;padding:15px;background:#000}
.popup{margin:145px auto 0;padding:10px;width:580px;background:#000}
.popup header{position:relative}
.popup h2{height:18px}
.popup h2 img{display:block}
.popup .close{top:0}
.dark .module{margin-top:0;background:#000;color:#fff}
#contact .dark .module{margin-top:0}
.dark .module h2{ font-family: 'Microsoft YaHei',Arial;font-size: 20px;}
.dark .module h2 font{ font-family: 'Microsoft YaHei',Arial;font-size:16px; color: #c5c5c5;}
.dark .copy{border-top:1px solid #fff}
.dark .module p{ font-family: 'Microsoft YaHei',Arial; font-size: 13px; line-height: 28px;}
.mediacast a{ margin-right: 18px;}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
.anim-part{position:absolute;z-index:10}
#preloader{position:fixed;top:0;left:0;z-index:9999;width:100%;height:1000px;background-color:#000}
#preloader .container{position:relative;top:50%;margin:-210px auto 0 auto;width:250px}
#preloader .pre-logo{position:relative;margin:0 auto;width:212px;height:212px}
#preloader .img-circle{position:absolute;top:0;left:0;-webkit-animation:circleAnim 2s infinite linear;-moz-animation:circleAnim 2s infinite linear;-o-animation:circleAnim 2s infinite linear;-ms-animation:circleAnim 2s infinite linear;animation:circleAnim 2s infinite linear}
@-webkit-keyframes circleAnim{from{-webkit-transform:rotate(0)}
to{-webkit-transform:rotate(-360deg)}
}
@-moz-keyframes circleAnim{from{-moz-transform:rotate(0)}
to{-moz-transform:rotate(-360deg)}
}
@-o-keyframes circleAnim{from{-o-transform:rotate(0)}
to{-o-transform:rotate(-360deg)}
}
@-ms-keyframes circleAnim{from{-ms-transform:rotate(0)}
to{-ms-transform:rotate(-360deg)}
}
@keyframes circleAnim{from{transform:rotate(0)}
to{transform:rotate(-360deg)}
}
#preloader .pre-text{position:relative;color:#fff;text-align:center;text-transform:uppercase;font-size:23px;font-family:Geogrotesque-MediumIt,'Trebuchet MS',sans-serif;line-height:24px}
#preloader .pre-text p{margin:0;padding:0 0 15px 0}
#preloader .pre-text .text-loading{padding:6px 0 100px 0;color:#e51f4e;text-transform:none;font-size:16px;font-family:Geogrotesque-Regular,'Trebuchet MS',sans-serif}
#preloader .hint{font-size:16px}
.node-type-works-client #preloader,.node-type-works-index #preloader{display:none}
#wrapper{height:19000px}
#scenes-container{position:fixed;margin-top:0;width:100%}
#main-scenes,#upper-scenes{position:relative}
section.section{padding:0}
.page-container section.section{padding-top:200px}
.page-container .fff .module a{color:#fa2458}
.page-container .fff .module a:hover{color:#000}
#contact-top{padding-top:104px;height:350px}
#campaigns{height:695px}
#news{height:695px}
#home{height:960px}
#story{z-index:12;height:923px}
#transmedia{height:500px;}
#transmedia2{height:1px; overflow: visible; z-index: 14;}
#brand_energy2{height:1px; overflow: visible; z-index: 14;}
#consumers_profiles{height:1050px}
#brand_energy{height:1050px}
#works{height:780px}
#team{height:695px}
#contact{height:380px}
.node-type-full-page #contact{height:1550px}
#scenes-container>section{overflow:hidden}
#campaigns .content{top:35px}
.latest-news .viewport{overflow:hidden;height:200px}
.latest-news .news-3-cont{height:200px}
.latest-news .news-band{position:relative;top:0}
section .appendix{position:absolute;top:696px;left:0;width:100%}
.appendix,.split{background-position:center center;background-size:auto auto;background-repeat:no-repeat}
#home .appendix{z-index:12;background-image:url(../images/artwork/background/b1.png)}
#story .split-up{background-color:#000}
#story .split-down{background-color:#000}
#story .appendix{background-image:url(../images/artwork/background/b3.png); height: 404px; top: 519px;}
#transmedia .split-down{background-image:url(../images/artwork/background/b4.png); height: 193px;}
#transmedia .appendix{z-index:10;}
#works .appendix{z-index:10;}
#consumers_profiles .split-up{z-index:11;background-color:#000}
#consumers_profiles .split-down{z-index:11;background-color:#000}
/*#consumers_profiles .appendix{z-index:11;background-image:url(../images/artwork/background/04_consumerprofiles3.png)}*/
#brand_energy .split-up{background-image:url(../images/artwork/background/b5.png)}
#brand_energy .split-down{background-image:url(../images/artwork/background/b6.png)}
#brand_energy .appendix{background-position:top}
#team .split-up{background-image:url(../images/artwork/background/06_team1.jpg)}
#team .split-down{background-image:url(../images/artwork/background/06_team2.jpg)}
#contact .split-up{background-color:#000}
#contact .split-down{background-color:#000}
#contact .split-down{margin-top:-135px;height:300px}
#contact .w1280{position:relative}
#contact .wrap{position:absolute;top:0;width:1280px}
#transmedia .sticker{z-index:14}
#works .appendix{z-index:10;background-image:url(../images/artwork/background/b7.png)}
#consumers_profiles .sticker{left:43%}
#contact .sticker{top:500px;left:34%}
#contact .sticker span{background:none repeat scroll 0 0 #a83dff}
#team .sticker{top:225px;left:44%}
.z10{z-index:10}
.z11{z-index:11}
.z12{z-index:12}
.z13{z-index:13}
img.story{z-index:13}
img.story.ring{z-index:10}
.bgw{background-color:#fff}
#map .map-container{position:relative;margin:0;padding-top:15px;background-color:#fff;text-align:center}
.map-container .loader{position:absolute;top:40%}
#user-login{margin-top:200px;color:#fff}
.awwward{position:fixed;top:570px;z-index:9000}
em{font:100% Geogrotesque-SemiBoldIt,'Trebuchet MS',Arial,Helvetica,sans-serif}
#campaign-closing-area{position:absolute;width:100%;height:100%}
#campaigns .fancybox-close{top:-7px;right:0;z-index:1}
#campaigns .split{z-index:3}
.toTheTop{position:fixed;right:14px;bottom:-1px;z-index:500;visibility:hidden;padding:0;border:0;background:0 0;cursor:pointer;transition:opacity .3s cubic-bezier(.25,.1,.25,1) 0,transform .25s cubic-bezier(.25,.1,.25,1) 0}
.toTheTop em{position:relative;display:inline-block;width:51px;height:51px;background:url(../images/ico/top.png) 0 0 no-repeat transparent;vertical-align:middle}
.toTheTop.visible{visibility:visible;transform:translateY(0)}
.portfolio-container a{position:relative;z-index:10}
.portfolio-container a.active{color:#fff}
.portfolio-container .h2,.portfolio-container h1{margin-bottom:.3em;padding:0 0 .05em;border-bottom:2px solid #FFF;text-transform:uppercase;font:400 2.125em Geogrotesque-MediumIt,'Trebuchet MS',sans-serif;line-height:91%}
.portfolio-container h2{position:relative;z-index:0;padding:0 0 .2em;border-bottom:1px solid #FFF;text-transform:uppercase;font-size:1.125em;line-height:91%}
.portfolio-container a h2,.portfolio-container a:hover h2,.portfolio-container a:visited h2{color:#fff}
.portfolio-container h2:before{display:block;visibility:hidden;margin-top:-180px;height:180px;content:" "}
.portfolio-container h3{margin:0;font:400 1em Geogrotesque-MediumIt,'Trebuchet MS',sans-serif;line-height:115%}
.portfolio-container .text h3{margin-bottom:1em}
.portfolio-container .link-teaser{display:block}
.portfolio-container .link-teaser .link-teaser-text{position:absolute;bottom:0;left:0;display:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:7px 10px;width:100%;height:0;background:#fa2458;color:#000;text-align:left;line-height:100%}
.portfolio-container .link-teaser:hover .link-teaser-text{display:block;height:auto}
.link-arrow:before{padding:0 5px 0 0;content:'→';font-size:22px}
.portfolio-container{position:relative;padding-bottom:20px;width:100%;color:#fff}
.portfolio-container .container{position:relative;padding:10px}
.footer .container-dark,.portfolio-container .container-dark,.portfolio-container .slider{background:#000}
.footer .container-dark{color:#fff!important}
.portfolio-container .col,.portfolio-container .col21,.portfolio-container .col31,.portfolio-container .col32{position:relative;z-index:5;float:left;overflow:hidden;margin-right:36px;width:286px}
.portfolio-container .col32{width:608px}
.portfolio-container .col21{width:447px}
.portfolio-container .col{float:none;margin-right:0;width:100%}
.portfolio-container .col-last{margin-right:0}
.breadcrumb{padding-top:117px}
.list-breadcrumb li{float:left;padding-right:25px}
.list-breadcrumb li:before{padding:0 5px 0 0;content:'←';font-size:22px}
.list-breadcrumb a,.list-breadcrumb a:visited{color:#fa2458}
.list-breadcrumb a:hover{color:#fff}
.portfolio-container .slider-container{position:relative;width:100%}
.portfolio-container .slider-container .slide{position:relative;width:100%;text-align:center}
.portfolio-container .slider-container .slide .legend{position:absolute;top:0;left:0;display:block;padding:5px 10px;background:#fa2458;color:#000}
.portfolio-container .slider-back,.portfolio-container .slider-next{position:absolute;top:50%;left:0;display:block;margin-top:-25px;width:51px;height:51px;background:url(../images/ico/portfolio-slider.png) no-repeat 0 0;text-align:left;text-indent:-999em;font-size:0;line-height:51px}
.portfolio-container .slider-next{right:0;left:auto;background-position:0 -60px}
.portfolio-container .slider-back:hover{background-position:-60px 0}
.portfolio-container .slider-next:hover{background-position:-60px -60px}
.portfolio-container .portfolio-logo{padding-top:6px;text-align:right}
.portfolio-container .separator-title{margin-top:30px}
.portfolio-container .text{padding:10px;background:#000}
.portfolio-footer .w1280{width:auto}
.bx-wrapper{position:relative;margin:0 auto 0;padding:0}
.bx-wrapper img{display:block;margin:0 auto;max-width:100%}
.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);-ms-transform:translatez(0)}
.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{position:absolute;bottom:-30px;width:100%}
.bx-wrapper .bx-loading{position:absolute;top:0;left:0;z-index:2000;width:100%;height:100%;min-height:50px;background:url(../images/bx_loader.gif) center center no-repeat #fff}
.bx-wrapper .bx-pager{position:absolute;top:0;left:0;display:block;padding:5px 10px;width:24px;height:19px;background:#fa2458;color:#666;color:#000;text-align:center}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item{display:inline-block}
.bx-wrapper .bx-pager.bx-default-pager a{display:block;margin:0 5px;width:10px;height:10px;outline:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#666;text-indent:-9999px}
.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#000}
.bx-wrapper .bx-prev{left:0;background:url(../images/ico/portfolio-slider.png) no-repeat 0 0}
.bx-wrapper .bx-next{right:0;background:url(../images/ico/portfolio-slider.png) no-repeat 0 -60px}
.bx-wrapper .bx-prev:hover{background-position:-60px 0}
.bx-wrapper .bx-next:hover{background-position:-60px -60px}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;z-index:9999;margin-top:-26px;width:51px;height:51px;outline:0;text-indent:-9999px}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start{display:block;margin:0 3px;width:10px;height:11px;outline:0;background:url(../../themes/numero10/css/images/controls.png.html) -86px -11px no-repeat;text-indent:-9999px}
.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:hover{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;margin:0 3px;width:9px;height:11px;outline:0;background:url(../../themes/numero10/css/images/controls.png.html) -86px -44px no-repeat;text-indent:-9999px}
.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:hover{background-position:-86px -33px}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{width:80%;text-align:left}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;width:100%;background:#666\9;background:rgba(80,80,80,.75)}
.bx-wrapper .bx-caption span{display:block;padding:10px;color:#fff;font-size:.85em;font-family:Arial}
@media only screen and (max-width:1279px){.breadcrumb .wrap{margin:0 0 0 200px;width:auto}
.breadcrumb .container-dark{background:0 0}
}
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{margin:0;padding:0;outline:0;border:0;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px}
.fancybox-skin{position:relative;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;background:#000;color:#fff;text-shadow:none}
.map-fancy .fancybox-skin{background-color:#fff}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}
.fancybox-inner,.fancybox-outer{position:relative}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{margin:0;padding:15px;color:#444;white-space:nowrap;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif}
.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../images/fancybox_sprite.png)}
#fancybox-loading{position:fixed;top:50%;left:50%;z-index:8060;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer}
#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox_loading.gif) center center no-repeat}
.fancybox-close{position:absolute;top:-18px;right:-18px;z-index:8040;width:36px;height:36px;cursor:pointer}
.fancybox-nav{position:absolute;top:0;z-index:8040;width:40%;height:100%;background:transparent url(../images/blank.gif);text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;z-index:8040;visibility:hidden;margin-top:-18px;width:36px;height:34px;cursor:pointer}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-nav:hover span{visibility:visible}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;overflow:visible!important;max-width:99999px;max-height:99999px}
.fancybox-overlay{position:absolute;top:0;left:0;z-index:8010;display:none;overflow:hidden;background:url(../images/fancybox_overlay.png)}
.fancybox-overlay-fixed{position:fixed;right:0;bottom:0}
.fancybox-lock .fancybox-overlay{overflow:auto}
.fancybox-title{position:relative;z-index:8050;visibility:hidden;text-shadow:none;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;right:50%;bottom:0;z-index:8050;margin-bottom:-35px;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:0 0;background:rgba(0,0,0,.8);color:#FFF;text-shadow:0 1px 2px #222;white-space:nowrap;font-weight:700;line-height:24px}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;padding:10px;background:#000;background:rgba(0,0,0,.8);color:#fff}
.fancybox-inner .infograph{margin:0 0 0 130px}
.fancybox-inner .infograph .graphics{float:left}
.fancybox-wrap.fff{background-color:#000}
.fancybox-inner .infograph .entry{padding-right:12px}
#primary{overflow:hidden;padding:20px 15px;width:152px; height:176px; background: url(../images/navBg.png) 0 0 no-repeat;}
#primary li{margin-bottom:1px;border-bottom:none}
.list-nav{margin:0;padding:0;list-style:none}
#primary .list-nav a,#primary .list-nav-social a{-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);box-shadow:0 0 5px rgba(0,0,0,.2);-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s;-ms-transition:all 1s}
#primary .list-nav a{position:relative;display:block;padding:0 20px 0 20px;height:34px;background-color:#000;color:#FFF;text-transform:uppercase;font-size:17px;line-height:34px;cursor:pointer; font-style: italic;}
#primary .list-nav .active a,#primary .list-nav a:hover{padding-left:10px}
#primary .list-nav .link1 a:hover,#primary .list-nav .link1.active a{background-color:#ffae00}
#primary .list-nav .link2 a:hover,#primary .list-nav .link2.active a{background-color:#ba00ff}
#primary .list-nav .link3 a:hover,#primary .list-nav .link3.active a{background-color:#7200ff}
#primary .list-nav .link4 a:hover,#primary .list-nav .link4.active a{background-color:#ff4de8}
#primary .list-nav .link5 a:hover,#primary .list-nav .link5.active a{background-color:#ff0066}
#primary .list-nav .nav-secondary{background-color:#004562;color:#fff}
#primary .list-nav-social{margin-right:-3px;margin-left:0}
#primary .list-nav-social li{float:left;margin:6px 4px 0 3px;height:27px}
#primary .list-nav-social a{position:relative;display:inline-block;overflow:hidden;padding:0;width:27px;height:27px;background-color:#004562;text-align:left;text-indent:-9999em;font-size:0;line-height:27px;cursor:pointer}
#primary .list-nav-social a:hover{border-radius:18px}
.list-nav-social a:before{position:absolute;top:50%;left:50%;background-image:url(../images/nav-sprite.png);background-image:url(../images/nav-sprite.svg),none;background-position:0 0;background-repeat:no-repeat;content:''}
.list-nav-social .link-fb:before{margin-top:-10px;margin-left:-10px;width:19px;height:19px;background-position:0 0}
.list-nav-social .link-tw:before{margin-top:-7px;margin-left:-9px;width:18px;height:15px;background-position:0 -30px}
.list-nav-social .link-in:before{margin-top:-10px;margin-left:-10px;width:19px;height:19px;background-position:0 -60px}
.list-nav-social .link-li:before{margin-top:-10px;margin-left:-10px;width:19px;height:19px;background-position:0 -90px}
.list-nav-social .link-xi:before{margin-top:-10px;margin-left:-8px;width:17px;height:19px;background-position:0 -120px}
.list-nav-social .link-pi:before{margin-top:-10px;margin-left:-10px;width:19px;height:19px;background-position:0 -150px}
.list-nav-social .link-vi:before{margin-top:-10px;margin-left:-9px;width:17px;height:19px;background-position:0 -180px}
.list-nav-social .link-sn{cursor:default!important}
.list-nav-social .link-sn:before{margin-top:-9px;margin-left:-10px;width:19px;height:18px;background-position:0 -210px}

.sImgYao{-webkit-animation:sImgYao 2s 0s linear both infinite;animation:sImgYao 2s 0s linear both infinite;-moz-animation:sImgYao 2s 0s linear both infinite;-ms-animation:sImgYao 2s 0s linear both infinite;}
@-webkit-keyframes sImgYao{
0%{ -webkit-transform: rotate(0deg);}
25%{ -webkit-transform: rotate(40deg);}
75%{ -webkit-transform: rotate(-40deg);}
100%{ -webkit-transform: rotate(0deg);}
}
@keyframes sImgYao{
0%{ transform: rotate(0deg);}
25%{ transform: rotate(40deg);}
75%{ transform: rotate(-40deg);}
100%{ transform: rotate(0deg);}
}
@-moz-keyframes sImgYao{
0%{ -moz-transform: rotate(0deg);}
25%{ -moz-transform: rotate(40deg);}
75%{ -moz-transform: rotate(-40deg);}
100%{ -moz-transform: rotate(0deg);}
}
@-ms-keyframes sImgYao{
0%{ -ms-transform: rotate(0deg);}
25%{ -ms-transform: rotate(40deg);}
75%{ -ms-transform: rotate(-40deg);}
100%{ -ms-transform: rotate(0deg);}
}

.sImgYao1{-webkit-animation:sImgYao1 2s 0s linear both infinite;animation:sImgYao1 2s 0s linear both infinite;-moz-animation:sImgYao1 2s 0s linear both infinite;-ms-animation:sImgYao1 2s 0s linear both infinite;}
@-webkit-keyframes sImgYao1{
0%{ -webkit-transform: rotate(0deg);}
25%{ -webkit-transform: rotate(30deg);}
75%{ -webkit-transform: rotate(-30deg);}
100%{ -webkit-transform: rotate(0deg);}
}
@keyframes sImgYao1{
0%{ transform: rotate(0deg);}
25%{ transform: rotate(30deg);}
75%{ transform: rotate(-30deg);}
100%{ transform: rotate(0deg);}
}
@-moz-keyframes sImgYao1{
0%{ -moz-transform: rotate(0deg);}
25%{ -moz-transform: rotate(30deg);}
75%{ -moz-transform: rotate(-30deg);}
100%{ -moz-transform: rotate(0deg);}
}
@-ms-keyframes sImgYao1{
0%{ -ms-transform: rotate(0deg);}
25%{ -ms-transform: rotate(30deg);}
75%{ -ms-transform: rotate(-30deg);}
100%{ -ms-transform: rotate(0deg);}
}

.sImgYao2{-webkit-animation:sImgYao2 2s 0s linear both infinite;animation:sImgYao2 2s 0s linear both infinite;-moz-animation:sImgYao2 2s 0s linear both infinite;-ms-animation:sImgYao2 2s 0s linear both infinite;}
@-webkit-keyframes sImgYao2{
0%{ -webkit-transform: rotate(0deg);}
25%{ -webkit-transform: rotate(-30deg);}
75%{ -webkit-transform: rotate(30deg);}
100%{ -webkit-transform: rotate(0deg);}
}
@keyframes sImgYao2{
0%{ transform: rotate(0deg);}
25%{ transform: rotate(-30deg);}
75%{ transform: rotate(30deg);}
100%{ transform: rotate(0deg);}
}
@-moz-keyframes sImgYao2{
0%{ -moz-transform: rotate(0deg);}
25%{ -moz-transform: rotate(-30deg);}
75%{ -moz-transform: rotate(30deg);}
100%{ -moz-transform: rotate(0deg);}
}
@-ms-keyframes sImgYao2{
0%{ -ms-transform: rotate(0deg);}
25%{ -ms-transform: rotate(-30deg);}
75%{ -ms-transform: rotate(30deg);}
100%{ -ms-transform: rotate(0deg);}
}

.sImgFang{-webkit-animation:sImgFang 1s 0s linear both infinite;animation:sImgFang 1s 0s linear both infinite;-moz-animation:sImgFang 1s 0s linear both infinite;-ms-animation:sImgFang 1s 0s linear both infinite;-webkit-transform-origin:14px 36px 0; transform-origin:14px 36px 0;-moz-transform-origin:14px 36px 0;-ms-transform-origin:14px 36px 0;}
@-webkit-keyframes sImgFang{
0%{ -webkit-transform:scale(1);}
50%{ -webkit-transform:scale(1.3);}
100%{ -webkit-transform:scale(1);}
}
@keyframes sImgFang{
0%{ transform:scale(1);}
50%{ transform:scale(1.3);}
100%{ transform:scale(1);}
}
@-moz-keyframes sImgFang{
0%{ -moz-transform:scale(1);}
50%{ -moz-transform:scale(1.3);}
100%{ -moz-transform:scale(1);}
}
@-ms-keyframes sImgFang{
0%{ -ms-transform:scale(1);}
50%{ -ms-transform:scale(1.3);}
100%{ -ms-transform:scale(1);}
}

.sImgFang2{-webkit-animation:sImgFang2 1s 0s linear both infinite;animation:sImgFang2 1s 0s linear both infinite;-moz-animation:sImgFang2 1s 0s linear both infinite;-ms-animation:sImgFang2 1s 0s linear both infinite;-webkit-transform-origin:51px 70px 0; transform-origin:51px 70px 0;-moz-transform-origin:51px 70px 0;-ms-transform-origin:51px 70px 0;}
@-webkit-keyframes sImgFang2{
0%{ -webkit-transform:scale(1);}
50%{ -webkit-transform:scale(1.3);}
100%{ -webkit-transform:scale(1);}
}
@keyframes sImgFang2{
0%{ transform:scale(1);}
50%{ transform:scale(1.3);}
100%{ transform:scale(1);}
}
@-moz-keyframes sImgFang2{
0%{ -moz-transform:scale(1);}
50%{ -moz-transform:scale(1.3);}
100%{ -moz-transform:scale(1);}
}
@-ms-keyframes sImgFang2{
0%{ -ms-transform:scale(1);}
50%{ -ms-transform:scale(1.3);}
100%{ -ms-transform:scale(1);}
}

.sImgFang3{-webkit-animation:sImgFang3 1s 0s linear both infinite;animation:sImgFang3 1s 0s linear both infinite;-moz-animation:sImgFang3 1s 0s linear both infinite;-ms-animation:sImgFang3 1s 0s linear both infinite;-webkit-transform-origin:0 60px 0; transform-origin:0 60px 0;-moz-transform-origin:0 60px 0;-ms-transform-origin:0 60px 0;}
@-webkit-keyframes sImgFang3{
0%{ -webkit-transform:scale(1);}
50%{ -webkit-transform:scale(1.3);}
100%{ -webkit-transform:scale(1);}
}
@keyframes sImgFang3{
0%{ transform:scale(1);}
50%{ transform:scale(1.3);}
100%{ transform:scale(1);}
}
@-moz-keyframes sImgFang3{
0%{ -moz-transform:scale(1);}
50%{ -moz-transform:scale(1.3);}
100%{ -moz-transform:scale(1);}
}
@-ms-keyframes sImgFang3{
0%{ -ms-transform:scale(1);}
50%{ -ms-transform:scale(1.3);}
100%{ -ms-transform:scale(1);}
}

.contain{
	width: 100vw;
	height: 100vh;
}
.box{
	width: 13vw;
	height: 13vw;
	border: 1px solid #404040;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -6.5vw;
	margin-top: -6.5vw;
}
.contain div:nth-of-type(2){
	transform: rotate(20deg);
}
.contain div:nth-of-type(3){
	transform: rotate(45deg);
}
.contain div:nth-of-type(4){
	transform: rotate(70deg);
}
.box-animation{
	-webkit-animation: box 0.5s linear forwards;
    -moz-animation: box 0.5s linear forwards;
    -o-animation: box 0.5s linear forwards;
    animation: box 0.5s linear forwards;
}
.box-animation-two{
	-webkit-animation: boxTwo 0.5s linear forwards;
    -moz-animation: boxTwo 0.5s linear forwards;
    -o-animation: boxTwo 0.5s linear forwards;
    animation: boxTwo 0.5s linear forwards;
}
.first{
	-webkit-animation: boxFirst 0.5s linear forwards;
    -moz-animation: boxFirst 0.5s linear forwards;
    -o-animation: boxFirst 0.5s linear forwards;
    animation: boxFirst 0.5s linear forwards;
}
.second{
	-webkit-animation: boxSecond 0.5s linear forwards;
    -moz-animation: boxSecond 0.5s linear forwards;
    -o-animation: boxSecond 0.5s linear forwards;
    animation: boxSecond 0.5s linear forwards;
}
.third{
	-webkit-animation: boxthird 0.5s linear forwards;
    -moz-animation: boxthird 0.5s linear forwards;
    -o-animation: boxthird 0.5s linear forwards;
    animation: boxthird 0.5s linear forwards;
}
@keyframes box{
	100%{
		transform: rotate(0deg);
	}
}
@keyframes boxTwo{
	100%{
		transform: rotate(90deg);
	}
}
@keyframes boxFirst{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(20deg);
	}
}
@keyframes boxSecond{
	0%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(45deg);
	}
}
@keyframes boxThird{
	0%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(70deg);
	}
}
.circle-one{
	width: 19.5vw;
	height: 19.5vw;
	border: 2px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -9.75vw;
	margin-top: -9.75vw;
}
.circle-two{
	width: 28.6vw;
	height: 28.6vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -14.3vw;
	margin-top: -14.3vw;
}
.circle-three{
	width: 32.2vw;
	height: 32.2vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -16.1vw;
	margin-top: -16.1vw;
}
.circle-four{
	width: 33.2vw;
	height: 33.2vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -16.6vw;
	margin-top: -16.6vw;
}
.circle-five{
	width: 43.6vw;
	height:43.6vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -21.8vw;
	margin-top: -21.8vw;
}
.box-two{
	width: 43.6vw;
	height:43.6vw;
	border: 1px solid #404040;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -21.8vw;
	margin-top: -21.8vw;
	transform: rotate(45deg);
}
.box-three{
	width: 40vw;
	height:40vw;
	border-left: 1px solid #404040;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -20vw;
	margin-top: -20vw;
	transform: rotate(45deg) translate(20vw);
}
.box-four{
	width: 40vw;
	height:40vw;
	border-left: 1px solid #404040;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -20vw;
	margin-top: -20vw;
	transform: rotate(135deg) translate(20vw);
}
.circle-six{
	width: 57.2vw;
	height:57.2vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -28.6vw;
	margin-top: -28.6vw;
}
.circle-seven{
	width: 62.5vw;
	height:62.5vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -31.25vw;
	margin-top: -31.25vw;
}
.circle-eight{
	width: 82.2vw;
	height:82.2vw;
	border: 1px solid #404040;
	border-radius: 50%;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -41.1vw;
	margin-top: -41.1vw;
}

.cover{
	width: 100vw;
	height:100vw;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -40vw;
	margin-top: -50vw;
	background:url(../images/loading/light.png) center no-repeat;
	background-size:90%;
	z-index: 4;
	
}
.bl{
	width: 100vw;
	height:100vw;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -50vw;
	margin-top: -50vw;
	background:url(../images/loading/bg.png) no-repeat center;
	opacity: 0.7;
	z-index: 3;
}
.info{
	width: 135px;
	height: 135px;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -67.5px;
	margin-top: -67.5px;
	z-index: 3;
}

.preloadTxt{width: 150px;
	height: 50px;
	position: absolute;
	left: 50vw;
	top: 50vh;
	margin-left: -75px;
	margin-top: 80px;
	z-index: 3;
	color: #FFF;
	font-size: 50px;
}

.down-animation{
	-webkit-animation: down 0.5s linear forwards;
    -moz-animation: down 0.5s linear forwards;
    -o-animation: down 0.5s linear forwards;
    animation: down 0.5s linear forwards;
}
.up-animation{
	-webkit-animation: up 0.5s linear forwards;
    -moz-animation: up 0.5s linear forwards;
    -o-animation: up 0.5s linear forwards;
    animation: up 0.5s linear forwards;
}
@keyframes down{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}
@keyframes up{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.pop{ width: 1117px; height: 647px; position: fixed; left: 50%; top: 50%; margin: -323px 0 0 -558px; z-index: 9999;}
.innerDiv{ width: 100%; height: 100%; position: relative;}
.pop1{ background: url(../images/pop1.png) 0 0 no-repeat;}
.popCloseBtn{ position: absolute; right: 25px; top: 25px; z-index: 99999;}

.pop2{ background:url(../images/pop2Bg.png) 0 0 no-repeat;}
.pop2Content{ position: absolute; left: 20px; top: 20px; width: 1077px; height: 607px;}
.videoBlock{ width: 475px; height: 268px; overflow: hidden; position: absolute; left: 510px; top: 151px;}
.swiper-button-prev{ background: url(../images/popArrowLeft.png) 0 0 no-repeat; width: 28px; height: 28px; left: 518px; top: 590px;}
.swiper-button-next{ background: url(../images/popArrowRight.png) 0 0 no-repeat; width: 28px; height: 28px; left: 571px; top: 590px;}

.pop3{ background:url(../images/pop2Bg.png) 0 0 no-repeat;}
.pop3Content{ position:absolute; left: 20px; top: 58px; background: url(../images/pop31.png) 0 0 no-repeat; width: 1080px; height: 541px;}
.pop3Btn{ display:block; width: 134px; height: 75px; background: url(../images/pop31.png) 0 0 no-repeat; transform-origin: 50% 50% 0; float:left; margin-right: 1px; margin-bottom: 1px;}
.pop3Btn:hover{ transform:scale(1.1); background-image:url(../images/pop32.png);}
.pop3Btn1{ background-position:0 0;}
.pop3Btn2{ background-position:-135px 0;}
.pop3Btn3{ background-position:-270px 0;}
.pop3Btn4{ background-position:-405px 0;}
.pop3Btn5{ background-position:-540px 0;}
.pop3Btn6{ background-position:-675px 0;}
.pop3Btn7{ background-position:-810px 0;}
.pop3Btn8{ background-position:-945px 0;}
.pop3Btn9{ background-position:0 -76px;}
.pop3Btn10{ background-position:-135px -76px;}
.pop3Btn11{ background-position:-270px -76px;}
.pop3Btn12{ background-position:-405px -76px;}
.pop3Btn13{ background-position:-540px -76px;}
.pop3Btn14{ background-position:-675px -76px;}
.pop3Btn15{ background-position:-810px -76px;}
.pop3Btn16{ background-position:-945px -76px;}
.pop3Btn17{ background-position:0 -152px;}
.pop3Btn18{ background-position:-135px -152px;}
.pop3Btn19{ background-position:-270px -152px;}
.pop3Btn20{ background-position:-405px -152px;}
.pop3Btn21{ background-position:-540px -152px;}
.pop3Btn22{ background-position:-675px -152px;}
.pop3Btn23{ background-position:-810px -152px;}
.pop3Btn24{ background-position:-945px -152px;}
.pop3Btn25{ background-position:0 -228px;}
.pop3Btn26{ background-position:-135px -228px;}
.pop3Btn27{ background-position:-270px -228px;}
.pop3Btn28{ background-position:-405px -228px;}
.pop3Btn29{ background-position:-540px -228px;}
.pop3Btn30{ background-position:-675px -228px;}
.pop3Btn31{ background-position:-810px -228px;}
.pop3Btn32{ background-position:-945px -228px;}
.pop3Btn33{ background-position:0 -304px;}
.pop3Btn34{ background-position:-135px -304px;}
.pop3Btn35{ background-position:-270px -304px;}
.pop3Btn36{ background-position:-405px -304px;}
.pop3Btn37{ background-position:-540px -304px;}
.pop3Btn38{ background-position:-675px -304px;}
.pop3Btn39{ background-position:-810px -304px;}
.pop3Btn40{ background-position:-945px -304px;}
.pop3Btn41{ background-position:0 -380px;}
.pop3Btn42{ background-position:-135px -380px;}
.pop3Btn43{ background-position:-270px -380px;}
.pop3Btn44{ background-position:-405px -380px;}
.pop3Btn45{ background-position:-540px -380px;}
.pop3Btn46{ background-position:-675px -380px;}
.pop3Btn47{ background-position:-810px -380px;}
.pop3Btn48{ background-position:-945px -380px;}
.pop3Btn49{ background-position:0 -456px;}
.pop3Btn50{ background-position:-135px -456px;}
.pop3Btn51{ background-position:-270px -456px;}
.pop3Btn52{ background-position:-405px -456px;}
.pop3Btn53{ background-position:-540px -456px;}
.pop3Btn54{ background-position:-675px -456px;}
.pop3Btn55{ background-position:-810px -456px;}
.pop3Btn56{ background-position:-945px -456px;}

.pop4{ background:url(../images/pop4.png) 0 0 no-repeat;}

